@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');

.header {
    background: $mercury;
    font-family: 'Libre Franklin', sans-serif;
    margin-bottom: $s-size;
    padding: $m-size 0;
}

.header__title {
    color: $christalle;
    font-size: $xl-size;
    margin: 0;
}

.header__subtitle {
    color: $purple;
    font-size: $m-size;
    margin: 0;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
    }
}
